.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-tictactoe {
  flex-direction: column;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #e8e6e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}

.winning {
  animation: winning-animation 1s ease-in-out forwards;
}

@keyframes winning-animation {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #ff6161;
  }

  100% {
    background-color: transparent;
  }
}