.form-anagram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-anagram input {
    width: 40%;
    font-size: 2rem;
}

.form-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    gap: 10%;
}