.scrambled-word {
    font-size: 50px;
    font-weight: bold;
    text-transform: lowercase;
    margin-top: 0px;
    height: 10vh;
    line-height: 10vh;
    letter-spacing: 5px;
  }

.anagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.anagram-container input {
    width: 40%;
    font-size: 2rem;
    text-align: center;
    text-transform: lowercase;
}

.playAgain-button, .hint-button {
    margin-top: 20px;
}
