.container {
    padding: 0 5% 5% 5%;
    width: 70%;
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--footer-height) - var(--navigation-height));
    justify-content: center;
    margin: 0 auto;
}

.col {
    flex: 1;
    padding: 30px;
}

.col h2 {
    color: #fff;
    text-align: center;
}

.col p {
    color: #ddd;
}

.home-list {
    margin-top: 20px;
}

.col-A {
    list-style-type: "\1F422";
}

.col-B {
    list-style-type: "\1F99D";
}

.col-C {
    list-style-type: "\1F994";
}

.home-list li {
    padding: 1em 0;
    padding-left: 10px;
    font-size: 30px;
}


.home-list a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #e8e6e3;
}

.home-list a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.home-list a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}