.container {
    padding: 0 5% 5% 5%;
    width: 70%;
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - var(--footer-height) - var(--navigation-height));
    margin: 0 auto;
    align-items: flex-start;
    /* Vertically align items at the top */
}

.col {
    flex: 1;
    padding: 30px;
    height: 100%;
}

.col h2 {
    color: #fff;
    text-align: center;
    margin-top: 0;
}

.col p {
    color: #ddd;
}

.home-list {
    margin-top: 20px;
}

.col-A {
    list-style-type: "\1F422";
}

.col-B {
    list-style-type: "\1F99D";
}

.col-C {
    list-style-type: "\1F994";
}

.home-list {
    list-style-type: none;
    padding: 0;
}

.home-list li {
    margin-top: 10%;
    font-size: 30px;
}

.home-list li a {
    display: inline-block;
    width: 100%;
    height: 20%;
    text-decoration: none;
    padding: 0;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.home-list li a:hover {
    border-color: blue;
    color: blue;
}