footer {
  background-color: rgb(39, 42, 44);
  padding: 20px;
  text-align: center;
}

#paypal a {
  color: inherit;
  text-decoration: none;
}

#paypal a:hover {
  color: rgb(130, 0, 150);
  text-decoration: underline;
}

.Admin {
  opacity: 0;
}

@media (max-width: 767px) {
  footer {
    padding: 10px;
  }
}