:root {
  --footer-height: 100px;
}

footer {
  box-sizing: border-box;
  height: var(--footer-height);
  background-color: rgb(39, 42, 44);
  padding: 20px;
  text-align: center;
}

.Admin {
  opacity: 0;
}

@media (max-width: 767px) {
  footer {
    padding: 10px;
  }
}