.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-title {
  font-weight: bold;
  font-size: 30px;
}

.navbar-socials-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #e8e6e3;
}

.navbar-socials-dropdown {
  position: absolute;
  top: 50px; 
  right: 0;
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.navbar-socials:hover .navbar-socials-dropdown, 
.navbar-socials-dropdown:hover {
  visibility: visible;
  opacity: 1;
}

.navbar-socials-dropdown li {
  padding: 5px 0;
  cursor: pointer;
}

.navbar-socials-dropdown li:hover {
  background-color: #ddd;
}
